<!DOCTYPE html>
<html>

<head>
    <title>Exercise Tracker | Free Code Camp</title>
    <link rel="shortcut icon"
          href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico"
          type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container">
    <h1 class="display-4 text-center mt-4">Exercise tracker</h1>

    <hr>

    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Create a new user</div>
                    <div class="card-subtitle bg-light">
                        <code>POST /api/exercise/new-user</code>
                    </div>
                    <hr>
                    <form action="/api/exercise/new-user" method="post">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input class="form-control" id="username" type="text" name="username" placeholder="Username">
                        </div>

                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Add exercises</div>
                    <div class="card-subtitle bg-light">
                        <code>POST /api/exercise/add</code>
                    </div>
                    <hr>
                    <form action="/api/exercise/add" method="post">
                        <div class="form-group">
                            <label for="uid">User ID<sup class="text-danger">*</sup></label>
                            <input class="form-control" id="uid" type="text" name="userId" placeholder="User ID">
                        </div>
                        <div class="form-group">
                            <label for="desc">Description<sup class="text-danger">*</sup></label>
                            <input class="form-control" id="desc" type="text" name="description" placeholder="Description">
                        </div>
                        <div class="form-group">
                            <label for="dur">Duration<sup class="text-danger">*</sup></label>
                            <input class="form-control" id="dur" type="text" name="duration" placeholder="Duration (minutes)">
                        </div>
                        <div class="form-group">
                            <label for="dat">Date <small class="text-muted">(YYYY-MM-DD)</small></label>
                            <input class="form-control" id="dat" type="text" name="date" placeholder="Date (yyyy-mm-dd)">
                        </div>

                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        Get exercise log
                    </div>
                    <div class="card-subtitle bg-light">
                        <code>GET /api/exercise/log?{userId}[&from][&to][&limit]</code>
                    </div>
                    <hr>
                    <p><strong>{ }</strong> = required, <strong>[ ]</strong> = optional</p>
                    <p><strong>from, to</strong> = dates (yyyy-mm-dd); <strong>limit</strong> = number</p>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>
